html {
  scroll-behavior: smooth;
}

body{
    background: linear-gradient(-90deg, #0f172a, #111827, #0b1220, #0f172a);
    color: #9aa3b5 ;
    animation: gradientMove 15s ease infinite;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

h1{
    font-size: 48px;
    color: #d8dde8;
}

h6{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4rem;
}