.main-container{
    max-width: 1300px;
    width: 100%;
    margin: auto;
    gap: 1rem;
}

.main-start{
    height: 100vh;
    max-width: 400px;
}

.main-end{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

@media (max-width: 856px){
    .main-start, .main-end{
        margin: auto !important;
        max-width: 100%;
        width: 100%;
        height: auto;
        align-items: start;
    }

    .main-container{
        padding: 3rem 0.5rem;
        margin: auto;
        gap: 3rem;
        width: 100% !important;
    }

    .sidebar-bottom{
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        width: 100%;
        font-size: 18px;
        gap: 0.5rem;
    }

    .sidebar-bottom i{
        font-size: 22px;
    }
}