.section-id{
    color: #5eead4;
    letter-spacing: 3px;
    font-size: 14px;
}
.section-title{
    font-weight: bold;
    font-size: 54px;
    margin-top: 1rem;
}
.section-body h6{
    font-size: 18px;
}

.section-body b{
    color: #5eead4;
}

.section-body .lightHighlight{
    color: #d8dde8;
}